//- 轉意-在終端輸入"pug ./ -o ./ -w -P",會自動生成一個html檔案
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 狸小路|手作烘培
        link(rel="stylesheet", href="style.css")
    body
        div(id="banner")
            nav
                img(src="images/LOGO.png", alt="狸小路的LOGO")
                div(id="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 聯絡我們
            section(id="produce")
                h3(class="title") BRANDS
                h1 狸小路的堅持
                img(src="images/line.png",alt="線條")
                p 不加多餘的糖份、油脂，不給不必要的色素裝飾，只有單純原味，與健康分享，不靠防腐香精來增加香氣與保存期限，使甜膩少一點、但保存短一點，讓你吃的無負擔，追求健康多一點。
                img(src="images/index_produce.png", alt="簡介的蛋糕")
           