/* 整體 */
*{
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}
body{
    background-color: #faf7f0;
}
/* 導覽列 */
#banner{
    background-image: url(images/Banner.jpg);
    background-size: 100vw;
    /* 背景重複 */
    background-repeat: no-repeat;
    width: 100wv;
    /* calc計算 - 計算數字 */
    /* height: calc(100vw/2.1); */
}
nav{
    width: 75%;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
nav img{
    width: 250px;
    /* 上 右 下 左 */
}
#link {
    float: right;
    margin: 50px 0 0 0;
}
#link a{
    color: white;
    padding: 8px 20px;
    /* 裝飾 */
    text-decoration: none;
    font-weight: 800;
}
/* 導覽列 動畫 */
#link a:hover{
    background:#ffd306;
    color: black;
    transition: 0.6s;
}
/* title區塊 */
#produce{
    margin: 35% auto 0 auto;
    color: #38150a;
    width: 80%;
    text-align: center;
}
.title-box{
    color: #38150a;
    text-align: center;
}
.title1::before {
    /*  */
    content: "＼";
    padding-right: 20px;
}

.title1::after {
    content: "／";
    padding-left: 20px;
}
.title2{
    margin-top: 10px;
    font-size: 35px;
    letter-spacing: 6px;
}
#produce p {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    /* 行與行的距離 */
    line-height: 2;
    /* 段落字句 */
    letter-spacing: 3px;
    opacity: 0.6;
}